*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --fontColor:rgb(180, 179, 179);
    --boxShadow:0.4rem 0.4rem 0.4rem 0.5rem  rgba(26, 26, 26, 0.1);
    --tr:all 0.2s ease-in;
}
body{
    background:linear-gradient(to right,rgb(95, 117, 203),rgb(107, 5, 5));
    scroll-behavior:smooth;
}
.container{
    display: flex;
    width: 100%;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
    background:linear-gradient(135deg,rgb(67, 67, 164),rgb(234, 33, 33));
    height: 60px;
    position: sticky;
    top: 0; 
    z-index: 100;
}
.nav-1 a {
    text-decoration: none;
    color:var(--fontColor);
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--tr);
}

.nav-1 a:hover {
    color: lime;
}

.nav-2 a{
    text-decoration: none;
    color:var(--fontColor);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition:var(--tr);
}
.nav-2{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.nav-2 a:hover{
    color:aqua;
    transform: scale(1.2);
}

.bio-data{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

}
.pic{
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
    /* border: 2px solid black; */
    background-image: url(panda.jpeg);
    background-size: cover;
    box-shadow: var(--boxShadow);
    transition: var(--tr);

}
.info{
    display: flex;
    height: 30rem;
    width: 70%;
    border-radius: 1rem;
    /* border: 2px solid aqua; */
    align-items: center;
    justify-content: center;
    box-shadow: 0.4rem 0.4rem 0.4rem 0.5rem  rgba(26, 26, 26, 0.1);
    transition: var(--tr);
    overflow: hidden;
}

.info-list{
    list-style: none;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.info-list li{
    margin: 20px;
    font-size: 1.6rem;
    font-weight: 800;
    color:antiquewhite;
}
.info:hover{
    transform:scale(1.05);
    box-shadow: none;
    
}
.pic:hover{
    transform:scale(1.05);
    box-shadow: none;  
}
.skills{
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--fontColor);
    border-radius: 1rem;
    height: 15rem;
    width: 25rem;
    /* border: 2px solid black; */
    margin: 20px;
    font-size: 3rem;
    box-shadow: var(--boxShadow);
    font-weight: 600;
    transition: var(--tr);
    cursor: pointer;
}
.skill:hover{
    transform: scale(1.09);
    color:rgb(52, 236, 11);
    box-shadow: none;
}
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 25rem;
    width: 100%;
    text-align: center;
    padding: 20px;
    color:var(--fontColor);
    font-size: 1.5rem;
    font-weight: 400;
    flex-direction: column;
    flex-wrap: wrap;
}
.additional h2{
    margin: 20px;
    color:rgb(13, 207, 218);
}
.footer{
    display: flex;
    width:100%;
    height: 15rem;
    align-items: center;
    justify-content:center;
    gap: 10rem;
    background-color: rgb(1, 1, 16);
}
.contact li{
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
    color: var(--fontColor);
}
.ex-info li{
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
    color:var(--fontColor);
}

