*{
    margin: 0;
    padding:0;
    font-weight: 500;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;

}
.nav{
    display: flex;
    font-weight: 800;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0F1035;
    height:4rem;
    color: white;
}
.choices{
    display: flex;
    justify-content:center;
    align-items: center;
}
.choice{
    height: 12rem;
    width: 12rem;
    margin: 2rem;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.8rem gray;
    border-radius: 50%;

}
.choice:hover{
    transform: scale(1.1);
    box-shadow: none;
}
.choice:active{
    transform: scale(0.8);
    box-shadow: none;
}
img{
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
    
}
#user-score,#comp-score{
    font-size: 2.7rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 4rem;
    width: 16rem;
    background-color: gainsboro;
    border-radius: 0.8rem;
}

